<%- title  @company.name -%>
<div class="info">
    <h2><%= @company.name %></h2>
    <div class="wrap">
        <figure class="cover">
            <img src="https://d3n8a8pro7vhmx.cloudfront.net/eurolabour/pages/920/attachments/original/1540391488/Plastic-bottles-700x410.jpg?1540391488">
        </figure>

        <aside class="content">

            <div class="bar"><div style="width: <%= @company.miles_value.to_f / @company.miles_goal.to_f * 100 %>%"></div></div>
            <div class="value">
            
                <span class="greenfunsign"><%= @company.miles_value %></span>
                <div class="goal"> of <span><%= @company.miles_goal %></span> goal</div>
            </div>



            <div class="numset">
                <span class="num"><%= @company.investor_count %></span>Backers
            </div>

            <div class="numset">
                    <span class="num"><%= (Time.now - @company.end_date).days %></span>Days to go
                </div>
            <button class="invest" type="submit">Invest</button>

            </aside>
    </div>
</div>

<main class="main itempage">
    <div class="wrap">
        <nav class="item-nav">
            <a ref="#compagin" class="seleted">Compagin</a>
            <a ref="#updates">Updates</a>
            <a ref="#comments">Comments</a>
            <a ref="#outteam">Our Team</a>
        </nav>

        <div class="grid">
            <div class="content">

                <h2>About</h2>
                <%= @company.description %>
                <p>This project is being made because there is such a lack of representation within mainstream media when it comes to Black LGBT folx.  The few times we manage to find diversity within media the roles tend to be one-dimensional stereotypes rather then well rounded people. Being non-binary, black, and queer I rarely see myself reflected within the mainstream which can be difficult especially if you are from a small Midwestern city as well. </p>
                <p>This project is being made because there is such a lack of representation within mainstream media when it comes to Black LGBT folx.  The few times we manage to find diversity within media the roles tend to be one-dimensional stereotypes rather then well rounded people. Being non-binary, black, and queer I rarely see myself reflected within the mainstream which can be difficult especially if you are from a small Midwestern city as well. </p>


                <h2>Updates</h2>

                <div class="timelines">
                    <div class="timelines-item">
                        <div class="circle"></div>
                        <span>Date</span>
                        <p class="content">Woohoo! $18,000!</p>
                    </div>

                    <div class="timelines-item">
                            <div class="circle"></div>
                            <span>Date</span>
                            <p class="content">Wow hello</p>
                        </div>
                </div>

                <h2>Out Team</h2>

                <ul>
                    <li>Jimmy</li>
                    <li>Jimmy</li>
                    <li>Jimmy</li>
                    <li>Jimmy</li>
                    <li>Jimmy</li>
                    <li>Jimmy</li>
                    <li>Jimmy</li>

                </ul>

                <h2>FAQ</h2>

                <p>test</p>

            </div>

            <aside class="plan-list">

                <div class="plan">
                    <h2>$5 or more</h2>

                    <ul>
                        <li>fjdfsjdfjsk</li>
                        <li>fsdjfsdjkfd</li>
                    </ul>
                    <button class="invest">Invest</button>
                </div>

                <div class="plan">
                        <h2>$5 or more</h2>
                        <ul>
                                <li>fjdfsjdfjsk</li>
                                <li>fsdjfsdjkfd</li>
                            </ul>
                        <button class="invest">Invest</button>
                    </div>

            </aside>
        </div>
    </div>
</main>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
