<%- title  @company.name -%>
<div class="info">
    <h2><%= @company.name %></h2>
    <div class="wrap">
        <figure class="cover">
            <%= image_tag "team.jpg" %>
        </figure>

        <aside class="content">

            <div class="bar"><div style="width: <%= @company.miles_value.to_f / @company.miles_goal.to_f * 100 %>%"></div></div>
            <div class="value">
            
                <span class="greenfunsign">
                
<svg width="30px" height="30px" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<g id="profil;e" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="Desktop-HD" transform="translate(-924.000000, -193.000000)">
        <g id="Group-6" transform="translate(924.000000, 193.000000)">
            <circle id="Oval" fill="#FFE12A" cx="32" cy="32" r="32"></circle>
            <path d="M47,34.0529136 C47,42.7394508 41.4734082,48 32.1385768,48 C22.1303371,48 16,41.7669123 16,31.4005358 C16,21.1888814 22.1303371,15 31.97603,15 C39.8014981,15 45.6996255,19.3985265 46.6981273,25.8526457 L39.6621723,25.8526457 C38.6404494,22.5150703 35.7842697,20.525787 31.9992509,20.525787 C26.4726592,20.525787 23.1520599,24.5264568 23.1520599,31.3121232 C23.1520599,38.2304086 26.6816479,42.4521098 32.2546816,42.4521098 C36.8292135,42.4521098 40.0104869,39.7776289 40.1498127,35.8211654 L40.1730337,35.312793 L32.8816479,35.312793 L32.8816479,30.4501005 L47,30.4501005 L47,34.0529136 Z" id="G" fill-opacity="0.718504152" fill="#000000" fill-rule="nonzero"></path>
        </g>
    </g>
</g>
</svg><%= @company.miles_value %></span>
                <div class="goal"> of 
                <svg width="20px" height="20px" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="profil;e" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Desktop-HD" transform="translate(-924.000000, -193.000000)">
                            <g id="Group-6" transform="translate(924.000000, 193.000000)">
                                <circle id="Oval" fill="#FFE12A" cx="32" cy="32" r="32"></circle>
                                <path d="M47,34.0529136 C47,42.7394508 41.4734082,48 32.1385768,48 C22.1303371,48 16,41.7669123 16,31.4005358 C16,21.1888814 22.1303371,15 31.97603,15 C39.8014981,15 45.6996255,19.3985265 46.6981273,25.8526457 L39.6621723,25.8526457 C38.6404494,22.5150703 35.7842697,20.525787 31.9992509,20.525787 C26.4726592,20.525787 23.1520599,24.5264568 23.1520599,31.3121232 C23.1520599,38.2304086 26.6816479,42.4521098 32.2546816,42.4521098 C36.8292135,42.4521098 40.0104869,39.7776289 40.1498127,35.8211654 L40.1730337,35.312793 L32.8816479,35.312793 L32.8816479,30.4501005 L47,30.4501005 L47,34.0529136 Z" id="G" fill-opacity="0.718504152" fill="#000000" fill-rule="nonzero"></path>
                            </g>
                        </g>
                    </g>
                </svg><span><%= @company.miles_goal %></span> goal</div>
            </div>



            <div class="numset">
                <span class="num"><%= @company.investor_count %></span>Backers
            </div>

            <div class="numset">
                    <span class="num"><%= (Time.now - @company.end_date).days.to_i %></span>Days to go
                </div>
            <button class="invest" type="submit">Invest</button>

            <div class="share">
                <svg viewBox="0 0 24 24" class="facebook">
                    <path d="M17.525,9H14V7c0-1.032,0.084-1.682,1.563-1.682h1.868v-3.18C16.522,2.044,15.608,1.998,14.693,2 C11.98,2,10,3.657,10,6.699V9H7v4l3-0.001V22h4v-9.003l3.066-0.001L17.525,9z"/>
                </svg>        
            
                <svg viewBox="0 0 24 24" class="google">
                <path d="M12.545,10.239v3.821h5.445c-0.712,2.315-2.647,3.972-5.445,3.972c-3.332,0-6.033-2.701-6.033-6.032 s2.701-6.032,6.033-6.032c1.498,0,2.866,0.549,3.921,1.453l2.814-2.814C17.503,2.988,15.139,2,12.545,2 C7.021,2,2.543,6.477,2.543,12s4.478,10,10.002,10c8.396,0,10.249-7.85,9.426-11.748L12.545,10.239z"/>
                </svg>


                <svg viewBox="0 0 24 24" class="twitter">
                    <path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"/>
                </svg>


                <svg viewBox="0 0 24 24" class="whatsapp">
                <path d="M.057 24l1.687-6.163c-1.041-1.804-1.588-3.849-1.587-5.946.003-6.556 5.338-11.891 11.893-11.891 3.181.001 6.167 1.24 8.413 3.488 2.245 2.248 3.481 5.236 3.48 8.414-.003 6.557-5.338 11.892-11.893 11.892-1.99-.001-3.951-.5-5.688-1.448l-6.305 1.654zm6.597-3.807c1.676.995 3.276 1.591 5.392 1.592 5.448 0 9.886-4.434 9.889-9.885.002-5.462-4.415-9.89-9.881-9.892-5.452 0-9.887 4.434-9.889 9.884-.001 2.225.651 3.891 1.746 5.634l-.999 3.648 3.742-.981zm11.387-5.464c-.074-.124-.272-.198-.57-.347-.297-.149-1.758-.868-2.031-.967-.272-.099-.47-.149-.669.149-.198.297-.768.967-.941 1.165-.173.198-.347.223-.644.074-.297-.149-1.255-.462-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.297-.347.446-.521.151-.172.2-.296.3-.495.099-.198.05-.372-.025-.521-.075-.148-.669-1.611-.916-2.206-.242-.579-.487-.501-.669-.51l-.57-.01c-.198 0-.52.074-.792.372s-1.04 1.016-1.04 2.479 1.065 2.876 1.213 3.074c.149.198 2.095 3.2 5.076 4.487.709.306 1.263.489 1.694.626.712.226 1.36.194 1.872.118.571-.085 1.758-.719 2.006-1.413.248-.695.248-1.29.173-1.414z"/></svg>

            </div>
            </aside>
    </div>
</div>

<main class="main itempage">
    <div class="wrap">
        <nav class="item-nav">
            <a ref="#compagin" class="seleted">About Us</a>
            <a ref="#updates">Updates</a>
            <a ref="#comments">Comments</a>
        </nav>

        <div class="grid">
            <div class="content">

                <h3>Team</h3>

                <p>We are a group of innovative financial analysts, marketers, and engineers. We care a lot about green finance and we are passionate to solve problems that have social impacts. </p>

                <h3>Background</h3>

                <p>With most millenials, 8/10 are adopting green living lifestyle. They show strong interests in making environmental friendly changes and are looking for ways to do so. </p>

                <h3>Problem</h3>

                <p>Current credit card loyalty program doesn’t work so well. Users don't like what they can redeem from the program and the redemption process is also tedious. For banks, because the redemption experience is not enjoyable and the redemption rate is so low - more than 30% of loyalty program points are actually wasted, they are not getting back their expected customer retention rate and loyalty.</p>

                <h3>Product</h3>

                <p>GreenKite is a marketplace for millennials to utilise their bank loyalty program to invest in green startups and buy eco-friendly products. It adds an additional channel to the existing bank loyalty program and exposes the users to a variety of green startups and products.</p>

                <h3>Key Value Proposition</h3>

                <h4>Connectivity</h4>

                <p>our platform connects green startups and environmental-friendly retail sellers with eco-conscious users. It provides a channel for green startups to get funding which is crucial to their success, and a marketing opportunity for environmental-friendly retail sellers to acquire more customers. For eco-conscious users, they are exposed to a variety of legitimate green startups and healthy products, and thus have more choices in contributing to a more sustainable society. </p>

                <h4>Flexibility</h4>

                <p>the users can pick the startups and retail sellers out of their choice. They can either pay with their preferred payment methods or use their GreenPoints from their credit card reward system: choose the amount of points they would like to use to invest and/or purchase. All the listing green startups are evaluated by reputational startup investors, incubators, and connectors such as WHub. </p>

                <h4>Transparency</h4>

                <p>users can see a clear timeline of the milestones and progress of the companies, and they will also receive monthly company report and other news related to their investments. For purchased green products, users can track the shipment, have free 7-day return, and write reviews and provide other feedback. </p>
            
                <h3>Bussiness Model</h3>

                <p>For each redeemed GreenPoints from the bank loyalty program, we get a small commission from it. </p>

                <h3>Competition</h3>

                <p>Currently, there aren't any special marketplace that targets directly at green startups, retailers, and millennials, and there aren't any significant improvements on bank loyalty programs. However, as we can see from Alibaba, Shopify, Amazon, and many other huge e-commerce platform, connecting the right customers with their loved products and providing them with the right incentives is an extremely strong competitive advantage and it will likely bring a sustainable large stream of revenue to the business. </p>

                <h2>Updates</h2>

                <div class="timelines">
                    <div class="timelines-item">
                        <div class="circle"></div>
                        <span>Fri evening</span>
                        <p class="content">Team-building & Identifying the Problems</p>
                    </div>

                    <div class="timelines-item">
                        <div class="circle"></div>
                        <span>Fri night</span>
                        <p class="content">Idea & Business plans</p>
                    </div>

                    <div class="timelines-item">
                        <div class="circle"></div>
                        <span>Sat morning</span>
                        <p class="content">Market Research & Interviewing Users and Customers</p>
                    </div>

                    <div class="timelines-item">
                        <div class="circle"></div>
                        <span>Sat noon</span>
                        <p class="content">Pivoting</p>
                    </div>

                    <div class="timelines-item">
                        <div class="circle"></div>
                        <span>Sat afternoon</span>
                        <p class="content">Business Model & KPI</p>
                    </div>

                    <div class="timelines-item">
                        <div class="circle"></div>
                        <span>Sat evening</span>
                        <p class="content">Preparing for the Pitch</p>
                    </div>

                    <div class="timelines-item">
                    <div class="circle"></div>
                    <span>Sat night</span>
                    <p class="content">Testing the Prototype</p>
                </div>

                </div>
            </div>

            <aside class="plan-list">

                <div class="plan">
                    <h2><svg width="24px" height="24px" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="profil;e" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Desktop-HD" transform="translate(-924.000000, -193.000000)">
                                <g id="Group-6" transform="translate(924.000000, 193.000000)">
                                    <circle id="Oval" fill="#FFE12A" cx="32" cy="32" r="32"></circle>
                                    <path d="M47,34.0529136 C47,42.7394508 41.4734082,48 32.1385768,48 C22.1303371,48 16,41.7669123 16,31.4005358 C16,21.1888814 22.1303371,15 31.97603,15 C39.8014981,15 45.6996255,19.3985265 46.6981273,25.8526457 L39.6621723,25.8526457 C38.6404494,22.5150703 35.7842697,20.525787 31.9992509,20.525787 C26.4726592,20.525787 23.1520599,24.5264568 23.1520599,31.3121232 C23.1520599,38.2304086 26.6816479,42.4521098 32.2546816,42.4521098 C36.8292135,42.4521098 40.0104869,39.7776289 40.1498127,35.8211654 L40.1730337,35.312793 L32.8816479,35.312793 L32.8816479,30.4501005 L47,30.4501005 L47,34.0529136 Z" id="G" fill-opacity="0.718504152" fill="#000000" fill-rule="nonzero"></path>
                                </g>
                            </g>
                        </g>
                    </svg>100 or more</h2>

                    <ul>
                        <li>Contribute to Green</li>
                        <li>Feel good about yourself</li>
                    </ul>
                    <button class="invest">Invest</button>
                </div>

                <div class="plan">
                        <h2>
                        <svg width="24px" height="24px" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="profil;e" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Desktop-HD" transform="translate(-924.000000, -193.000000)">
                                    <g id="Group-6" transform="translate(924.000000, 193.000000)">
                                        <circle id="Oval" fill="#FFE12A" cx="32" cy="32" r="32"></circle>
                                        <path d="M47,34.0529136 C47,42.7394508 41.4734082,48 32.1385768,48 C22.1303371,48 16,41.7669123 16,31.4005358 C16,21.1888814 22.1303371,15 31.97603,15 C39.8014981,15 45.6996255,19.3985265 46.6981273,25.8526457 L39.6621723,25.8526457 C38.6404494,22.5150703 35.7842697,20.525787 31.9992509,20.525787 C26.4726592,20.525787 23.1520599,24.5264568 23.1520599,31.3121232 C23.1520599,38.2304086 26.6816479,42.4521098 32.2546816,42.4521098 C36.8292135,42.4521098 40.0104869,39.7776289 40.1498127,35.8211654 L40.1730337,35.312793 L32.8816479,35.312793 L32.8816479,30.4501005 L47,30.4501005 L47,34.0529136 Z" id="G" fill-opacity="0.718504152" fill="#000000" fill-rule="nonzero"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>500 or more</h2>
                        <ul>
                                <li>Champion the Green</li>
                                <li>Become and Ent</li>
                            </ul>
                        <button class="invest">Invest</button>
                    </div>

            </aside>
        </div>
    </div>
</main>
