<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>End date:</strong>
  <%= @company.end_date %>
</p>

<p>
  <strong>Investor count:</strong>
  <%= @company.investor_count %>
</p>

<p>
  <strong>Miles value:</strong>
  <%= @company.miles_value %>
</p>

<p>
  <strong>Miles count:</strong>
  <%= @company.miles_goal %>
</p>

<p>
  <strong>Description:</strong>
  <%= @company.description %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
