<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title><%= content_for?(:title) ? content_for(:title) + "| GreenFun": "GreenFun" %></title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Keywords" content="Greenfun.tech, ...">
        <meta name="Description" content="">

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>

        <header class="header">
            <div class="wrap">
                <a class="profile" href="/users/1/">Profile</a>
                <h1 class="title"><a href="/">GreenFun</a></h1>
            </div>
        </header>
          <body>
    <%= yield %>
  </body>

<footer class="footer">
</footer>
</html>
